__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example


*.pt
*.pth
*.onnx
*.engine

*.mp4
*.avi
*.mov
*.mkv
*.wmv

data/outputs/*
!data/outputs/.gitkeep

data/videos/*
!data/videos/.gitkeep

data/images/
data/labels/
runs/
datasets/

*.log
logs/

.idea/
.vscode/

.DS_Store
Thumbs.db